extends ./layout

block content
  .main
    .container
      .content
        .post
          .top
            h2 &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &pcy;&ocy;&scy;&tcy;&acy;
          .body
            p
              | &laquo;&Kcy;&icy;&ncy;-&dcy;&zcy;&acy;-&dcy;&zcy;&acy;&#x301;!&raquo; &mdash; &pcy;&ocy;&lcy;&ncy;&ocy;&mcy;&iecy;&tcy;&rcy;&acy;&zhcy;&ncy;&ycy;&jcy; &dcy;&vcy;&ucy;&khcy;&scy;&iecy;&rcy;&icy;&jcy;&ncy;&ycy;&jcy; &tcy;&rcy;&acy;&gcy;&icy;&kcy;&ocy;&mcy;&iecy;&dcy;&icy;&jcy;&ncy;&ycy;&jcy; &khcy;&ucy;&dcy;&ocy;&zhcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &fcy;&icy;&lcy;&softcy;&mcy; &vcy; &zhcy;&acy;&ncy;&rcy;&iecy; &acy;&ncy;&tcy;&icy;&ucy;&tcy;&ocy;&pcy;&icy;&icy;, &scy;&ncy;&yacy;&tcy;&ycy;&jcy; &ncy;&acy; &kcy;&icy;&ncy;&ocy;&scy;&tcy;&ucy;&dcy;&icy;&icy; &laquo;&Mcy;&ocy;&scy;&fcy;&icy;&lcy;&softcy;&mcy;&raquo; &vcy; 1986 &gcy;&ocy;&dcy;&ucy; &rcy;&iecy;&zhcy;&icy;&scy;&scy;&iocy;&rcy;&ocy;&mcy; &Gcy;&iecy;&ocy;&rcy;&gcy;&icy;&iecy;&mcy; &Dcy;&acy;&ncy;&iecy;&lcy;&icy;&iecy;&jcy;. &Kcy;&acy;&rcy;&tcy;&icy;&ncy;&acy; &laquo;&Kcy;&icy;&ncy;-&dcy;&zcy;&acy;-&dcy;&zcy;&acy;!&raquo; &ocy;&kcy;&acy;&zcy;&acy;&lcy;&acy; &vcy;&lcy;&icy;&yacy;&ncy;&icy;&iecy; &ncy;&acy; &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ucy;&yucy; &rcy;&ucy;&scy;&scy;&kcy;&ocy;&yacy;&zcy;&ycy;&chcy;&ncy;&ucy;&yucy; &kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;&ucy; &mdash; &vcy;&ycy;&mcy;&ycy;&shcy;&lcy;&iecy;&ncy;&ncy;&ycy;&iecy; &scy;&lcy;&ocy;&vcy;&acy;.
          .bottom
            .author
              | &Acy;&vcy;&tcy;&ocy;&rcy;:
              a(href='/') &Gcy;&iecy;&dcy;&iecy;&vcy;&acy;&ncy;
            a(href='/') &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
        .post
          .top
            h2 &Zcy;&acy;&gcy;&ocy;&lcy;&ocy;&vcy;&ocy;&kcy; &pcy;&ocy;&scy;&tcy;&acy;
          .body
            p
              | &laquo;&Kcy;&icy;&ncy;-&dcy;&zcy;&acy;-&dcy;&zcy;&acy;&#x301;!&raquo; &mdash; &pcy;&ocy;&lcy;&ncy;&ocy;&mcy;&iecy;&tcy;&rcy;&acy;&zhcy;&ncy;&ycy;&jcy; &dcy;&vcy;&ucy;&khcy;&scy;&iecy;&rcy;&icy;&jcy;&ncy;&ycy;&jcy; &tcy;&rcy;&acy;&gcy;&icy;&kcy;&ocy;&mcy;&iecy;&dcy;&icy;&jcy;&ncy;&ycy;&jcy; &khcy;&ucy;&dcy;&ocy;&zhcy;&iecy;&scy;&tcy;&vcy;&iecy;&ncy;&ncy;&ycy;&jcy; &fcy;&icy;&lcy;&softcy;&mcy; &vcy; &zhcy;&acy;&ncy;&rcy;&iecy; &acy;&ncy;&tcy;&icy;&ucy;&tcy;&ocy;&pcy;&icy;&icy;, &scy;&ncy;&yacy;&tcy;&ycy;&jcy; &ncy;&acy; &kcy;&icy;&ncy;&ocy;&scy;&tcy;&ucy;&dcy;&icy;&icy; &laquo;&Mcy;&ocy;&scy;&fcy;&icy;&lcy;&softcy;&mcy;&raquo; &vcy; 1986 &gcy;&ocy;&dcy;&ucy; &rcy;&iecy;&zhcy;&icy;&scy;&scy;&iocy;&rcy;&ocy;&mcy; &Gcy;&iecy;&ocy;&rcy;&gcy;&icy;&iecy;&mcy; &Dcy;&acy;&ncy;&iecy;&lcy;&icy;&iecy;&jcy;. &Kcy;&acy;&rcy;&tcy;&icy;&ncy;&acy; &laquo;&Kcy;&icy;&ncy;-&dcy;&zcy;&acy;-&dcy;&zcy;&acy;!&raquo; &ocy;&kcy;&acy;&zcy;&acy;&lcy;&acy; &vcy;&lcy;&icy;&yacy;&ncy;&icy;&iecy; &ncy;&acy; &scy;&ocy;&vcy;&rcy;&iecy;&mcy;&iecy;&ncy;&ncy;&ucy;&yucy; &rcy;&ucy;&scy;&scy;&kcy;&ocy;&yacy;&zcy;&ycy;&chcy;&ncy;&ucy;&yucy; &kcy;&ucy;&lcy;&softcy;&tcy;&ucy;&rcy;&ucy; &mdash; &vcy;&ycy;&mcy;&ycy;&shcy;&lcy;&iecy;&ncy;&ncy;&ycy;&iecy; &scy;&lcy;&ocy;&vcy;&acy;.
          .bottom
            .author
              | &Acy;&vcy;&tcy;&ocy;&rcy;:
              a(href='/') &Gcy;&iecy;&dcy;&iecy;&vcy;&acy;&ncy;
            a(href='/') &Kcy;&ocy;&mcy;&mcy;&iecy;&ncy;&tcy;&acy;&rcy;&icy;&icy;
      include sidebar